#!/bin/bash
set -e
set -x
set -u

IMAGE=get-image-image
CONTAINER=get-image-container

docker build -t ${IMAGE} .

docker stop ${CONTAINER} | true
docker rm ${CONTAINER} | true

docker create -ti --name ${CONTAINER} ${IMAGE}

docker start -ia ${CONTAINER}

